@import "material.css";

* {
  border: none;
  font-size: 11px;
  margin: 2px;
  font-family: Cascadia Mono, Product Sans, Arial, Helvetica, sans-serif;
}
window#waybar {
  padding: 4px;
  animation-name: fadeIn;
  animation-duration: 1s;
  color: var(--greenish);
}
/*
window#waybar.empty {
}
*/
#workspaces,
#tags {
  background-color: transparent;
  padding: 0px;
  margin-right: 10px;
  border-radius: 10px;
}
#workspaces button,
#tags button {
  border-radius: 8px;
  font-weight: bold;
  margin: 0px;
  padding: 2px 10px 2px 10px;
  color: var(--dark);
}
#window {
  color: var(--greenish);
  border-radius: 10px;
  padding: 0px 8px 0px 8px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover,
#tags button:hover {
  background-color: var(--darker);
  box-shadow: inherit;
  color: var(--yellow);
  opacity: 0.5;
}
#workspaces button.focused,
#tags button.focused {
  /* background-color: ; */
  font-weight: bold;
  color: var(--yellow);
}
#tags button.focused {
  font-weight: 600;
}
#workspaces button.urgent {
  color: var(--red);
  font-weight: bold;
}
#tags button {
  font-weight: 600;
}
/* TASKBAR */

/*
#taskbar {
	margin: 0px;
} */

#taskbar button {
  margin: 0px 6px 0px 6px;
  border-radius: 7px;
  padding: 1px 2px 1px 1px;
}
#taskbar button.active {
  background-color: var(--dark);
}

/*
#taskbar button.minimized {
	color: @yellow;
} */

#taskbar button:hover {
  box-shadow: inherit;
}

/* WIDGETS */
#cpu,
#custom-pacman,
#memory,
#backlight,
#disk,
#network,
#pulseaudio,
#custom-weather,
#temperature {
  background-color: transparent;
  padding: 0px 14px 0px 14px;
  margin: 2px 0px 2px 0px;
}
#disk {
  color: var(--purple);
}
#memory {
  color: var(--orange);
}
#cpu {
  color: var(--red);
}
#network {
  font-weight: 600;
  color: var(--green);
}
#custom-weather {
  color: var(--yellow);
}
#custom-weather {
  padding: 0px 8px 0px 8px;
}
#custom-media,
#mpd,
#custom-mpd {
  border-radius: 10px;
  /* font-size: 12px; */
  margin-left: 10px;
  background-color: transparent;
}
#custom-media.Playing {
  color: var(--yellow);
  border-radius: 0px;
  font-weight: 500;
}
#custom-mpd {
  color: var(--purple);
  border-radius: 0px;
  font-weight: 500;
}
#custom-pacman {
  color: #978074;
  border-radius: 0px 10px 10px 0px;
  font-weight: 600;
}
#pulseaudio {
  color: var(--yellow);
  border-radius: 10px 0px 0px 10px;
}
#pulseaudio.muted {
  opacity: 0.5;
}
#temperature {
  color: var(--blue);
}
#temperature.critical {
  color: var(--yellow);
}
#battery {
  color: var(--cyan);
  padding: 0px 8px 0px 8px;
}
#battery.charging {
  color: var(--greenish);
}
@keyframes blink {
  to {
    background-color: #eceff4;
    color: var(--darker);
  }
}
#battery.critical:not(.charging) {
  background-color: var(--red);
  color: var(--greenish);
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
label:focus {
  background-color: var(--darker);
}
#idle_inhibitor {
  font-size: 18px;
  color: var(--greenish);
}
#idle_inhibitor.activated {
  color: var(--blue);
}
#clock,
#idle_inhibitor,
#custom-recorder,
#tray {
  background-color: transparent;
  padding: 0px 10px 0px 5px;
  margin: 5px 0px 5px 0px;
}
#clock {
  border-radius: 0px 10px 10px 0px;
}
#custom-recorder.recording {
  color: var(--red);
}
#tray {
  border-radius: 10px 0px 0px 10px;
  color: var(--cyan);
}
#custom-power {
  color: var(--greenish);
  font-size: 17px;
  border-radius: 0px 10px 10px 0px;
}
