* {
  border: none;
  font-size: 11px;
  margin: 2px;
  font-family: Roboto, Source Han Sans, "FontAwesome 5 Free Solid";
  /* Cascadia Mono, Product Sans, Arial, Helvetica, sans-serif*/
}

window#waybar {
  padding: 4px;
  animation-name: fadeIn;
  animation-duration: 1s;
  color: white;
  background: transparent;
}

#workspaces,
#tags {
  background-color: transparent;
  padding: 0px;
  margin-right: 10px;
  border-radius: 10px;
}
#workspaces button,
#tags button {
  border-radius: 8px;
  font-weight: bold;
  margin: 0px;
  padding: 2px 10px 2px 10px;
  color: #464646;
}
#window {
  color: #b8b8ac;
  border-radius: 10px;
  padding: 0px 8px 0px 8px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover,
#tags button:hover {
  background-color: #3a3a3a;
  box-shadow: inherit;
  color: #dcbb8c;
  opacity: 0.5;
}
#workspaces button.focused,
#tags button.focused {
  /* background-color: ; */
  font-weight: bold;
  color: #dcbb8c;
}
#tags button.focused {
  font-weight: 600;
}
#workspaces button.urgent {
  color: #cb7073;
  font-weight: bold;
}
#tags button {
  font-weight: 600;
}
/* TASKBAR */
#taskbar button {
  margin: 0px 6px 0px 6px;
  border-radius: 7px;
  padding: 1px 2px 1px 1px;
}
#taskbar button.active {
  background-color: #464646;
}
#taskbar button:hover {
  box-shadow: inherit;
}

/* WIDGETS */
#cpu,
#custom-pacman,
#memory,
#backlight,
#disk,
#network,
#pulseaudio,
#custom-weather,
#temperature {
  background-color: transparent;
  padding: 0px 14px 0px 14px;
  margin: 2px 0px 2px 0px;
}
#disk {
  color: #8c94ae;
}
#memory {
  color: #d59877;
}
#cpu {
  color: #cb7073;
}
#network {
  font-weight: 600;
  color: #9da98d;
}
#custom-weather {
  color: #dcbb8c;
}
#custom-weather {
  padding: 0px 8px 0px 8px;
}
#custom-media,
#mpd,
#custom-mpd {
  border-radius: 10px;
  /* font-size: 12px; */
  margin-left: 10px;
  background-color: transparent;
}
#custom-media.Playing {
  color: #dcbb8c;
  border-radius: 0px;
  font-weight: 500;
}
#custom-mpd {
  color: #8c94ae;
  border-radius: 0px;
  font-weight: 500;
}
#custom-pacman {
  color: #978074;
  border-radius: 0px 10px 10px 0px;
  font-weight: 600;
}
#pulseaudio {
  color: #dcbb8c;
  border-radius: 10px 0px 0px 10px;
}
#pulseaudio.muted {
  opacity: 0.5;
}
#temperature {
  color: #434c5e;
}
#temperature.critical {
  color: #dcbb8c;
}
#battery {
  color: #a4c3b9;
  padding: 0px 8px 0px 8px;
}
#battery.charging {
  color: #b8b8ac;
}
@keyframes blink {
  to {
    background-color: #eceff4;
    color: #3a3a3a;
  }
}
#battery.critical:not(.charging) {
  background-color: #cb7073;
  color: #b8b8ac;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
label:focus {
  background-color: #3a3a3a;
}
#idle_inhibitor {
  font-size: 18px;
  color: #b8b8ac;
}
#idle_inhibitor.activated {
  color: #434c5e;
}
#clock,
#idle_inhibitor,
#custom-recorder,
#tray {
  background-color: transparent;
  padding: 0px 10px 0px 5px;
  margin: 5px 0px 5px 0px;
}
#clock {
  border-radius: 0px 10px 10px 0px;
}
#custom-recorder.recording {
  color: #cb7073;
}
#tray {
  border-radius: 10px 0px 0px 10px;
  color: #a4c3b9;
}
#custom-power {
  color: #b8b8ac;
  font-size: 17px;
  border-radius: 0px 10px 10px 0px;
}
